In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/df.csv',parse_dates=['date'], date_format='%Y-%m-%d %H:%M:%S')
df.set_index('date', inplace=True)
df.head(3)

,puls,RR_skurczowe,RR_rozkurczowe,saturacja_prc,CVP_srednie,odd_wymuszane,odd_calkowite
date,,,,,,,
2023-11-13 14:00:00,125.0,65.0,40.0,100.0,23.0,25.0,25.0
2023-11-13 15:00:00,130.0,90.0,50.0,100.0,20.0,25.0,25.0
2023-11-13 16:00:00,145.0,60.0,35.0,98.0,17.0,25.0,25.0

I have a dataframe with time recors taken on full hour or "some hour" + 30 mins. First I fill dataframe to have rows every 30 mins

In [3]:
df_30mins = df.resample('30min').asfreq()

Than, I linearly interpolate all time series:

In [4]:
df_interpolated = df_30mins.interpolate(method='linear')
df_interpolated.head(10)

,puls,RR_skurczowe,RR_rozkurczowe,saturacja_prc,CVP_srednie,odd_wymuszane,odd_calkowite
date,,,,,,,
2023-11-13 14:00:00,125.0,65.0,40.0,100.0,23.0,25.0,25.0
2023-11-13 14:30:00,127.5,77.5,45.0,100.0,21.5,25.0,25.0
2023-11-13 15:00:00,130.0,90.0,50.0,100.0,20.0,25.0,25.0
2023-11-13 15:30:00,137.5,75.0,42.5,99.0,18.5,25.0,25.0
2023-11-13 16:00:00,145.0,60.0,35.0,98.0,17.0,25.0,25.0
2023-11-13 16:30:00,142.5,57.5,40.0,97.5,17.5,25.0,25.0
2023-11-13 17:00:00,140.0,55.0,45.0,97.0,18.0,25.0,25.0
2023-11-13 17:30:00,140.0,62.5,45.0,97.0,18.0,25.0,25.0
2023-11-13 18:00:00,140.0,70.0,45.0,97.0,18.0,25.0,25.0
2023-11-13 18:30:00,140.0,75.0,50.0,96.5,20.0,25.0,25.0

than I choose only full hour records:

In [5]:
df_hourly = df_interpolated.resample('h').asfreq()
df_hourly

,puls,RR_skurczowe,RR_rozkurczowe,saturacja_prc,CVP_srednie,odd_wymuszane,odd_calkowite
date,,,,,,,
2023-11-13 14:00:00,125.0,65.0,40.0,100.0,23.0,25.0,25.0
2023-11-13 15:00:00,130.0,90.0,50.0,100.0,20.0,25.0,25.0
2023-11-13 16:00:00,145.0,60.0,35.0,98.0,17.0,25.0,25.0
2023-11-13 17:00:00,140.0,55.0,45.0,97.0,18.0,25.0,25.0
2023-11-13 18:00:00,140.0,70.0,45.0,97.0,18.0,25.0,25.0
...,...,...,...,...,...,...,...
2023-11-28 08:00:00,115.0,80.0,55.0,96.0,14.0,12.0,35.0
2023-11-28 09:00:00,120.0,92.5,62.5,94.0,14.0,12.0,30.0
2023-11-28 10:00:00,135.0,105.0,70.0,95.0,14.0,12.0,28.0
2023-11-28 11:00:00,130.0,105.0,70.0,94.0,14.0,12.0,32.0
2023-11-28 12:00:00,130.0,105.0,70.0,95.0,14.0,12.0,29.0

Now I replace rows that existed in initial df with their original values (getting rid of all "half an hour" records)

In [6]:
df.resample('h').asfreq()

,puls,RR_skurczowe,RR_rozkurczowe,saturacja_prc,CVP_srednie,odd_wymuszane,odd_calkowite
date,,,,,,,
2023-11-13 14:00:00,125.0,65.0,40.0,100.0,23.0,25.0,25.0
2023-11-13 15:00:00,130.0,90.0,50.0,100.0,20.0,25.0,25.0
2023-11-13 16:00:00,145.0,60.0,35.0,98.0,17.0,25.0,25.0
2023-11-13 17:00:00,140.0,55.0,45.0,97.0,18.0,25.0,25.0
2023-11-13 18:00:00,140.0,70.0,45.0,97.0,18.0,25.0,25.0
...,...,...,...,...,...,...,...
2023-11-28 08:00:00,115.0,80.0,55.0,96.0,NaN,12.0,35.0
2023-11-28 09:00:00,120.0,NaN,NaN,94.0,NaN,12.0,30.0
2023-11-28 10:00:00,135.0,105.0,70.0,95.0,NaN,12.0,28.0
2023-11-28 11:00:00,130.0,NaN,NaN,94.0,NaN,12.0,32.0
2023-11-28 12:00:00,130.0,NaN,NaN,95.0,NaN,12.0,29.0