## Create initial dataset
The first thing I did once I had a data rewritten to multiple excel file sheets was creating a dataset consisting of all obtained parameters. To do this I loaded all excel sheets in the form of pandas dataframes and then joined them into one dataframe. Final dataframe was saved to "df_all.csv" file for later usage.

In [1]:
import pandas as pd
from functools import reduce

In [2]:
na_values = ['NA']
respirator = pd.read_excel('../data/raw/karty.xlsx', sheet_name='respirator', na_values=na_values).drop('info', axis='columns')
param_zyciowe = pd.read_excel('../data/raw/karty.xlsx', sheet_name='param_zyciowe', na_values=na_values)
saturacja = pd.read_excel('../data/raw/karty.xlsx', sheet_name='saturacja', na_values=na_values)
plyny_przyjete = pd.read_excel('../data/raw/karty.xlsx', sheet_name='plyny_przyjete', na_values=na_values)

In [3]:
pd.set_option('display.max_rows', 10)

In [4]:
respirator.head(2)

   nr_arkusza                date  odd_wymuszane  odd_calkowite
0           1 2023-11-13 14:00:00             25           25.0
1           1 2023-11-13 15:00:00             25           25.0

In [5]:
param_zyciowe.head(2)

,nr_arkusza,date,masa_ciala_kg,puls,RR_skurczowe,RR_rozkurczowe,temperatura_st_C,CVP_srednie,skala_komfort_B
0,1,2023-11-13 14:00:00,6,125.0,65.0,40.0,33.5,23.0,6.0
1,1,2023-11-13 15:00:00,6,130.0,90.0,50.0,NaN,20.0,NaN

In [6]:
saturacja.drop(columns=['substancja'], inplace=True)
saturacja.head(2)

   nr_arkusza                date  saturacja_prc  prc_tlenu_na_respiratorze
0           1 2023-11-13 14:00:00          100.0                         50
1           1 2023-11-13 15:00:00          100.0                         50

In [7]:
plyny_przyjete = plyny_przyjete[['nr_arkusza', 'date', 'kroplowka',	'zywienie_pozajelitowe']]
plyny_przyjete.head(2)

   nr_arkusza                date  kroplowka  zywienie_pozajelitowe
0           1 2023-11-13 14:00:00         12                      0
1           1 2023-11-13 15:00:00         12                      0

In [8]:
dfs_to_merge = [param_zyciowe, respirator, saturacja, plyny_przyjete]
df = reduce(lambda left, right: pd.merge(left, right, how='outer', on=['nr_arkusza', 'date']), dfs_to_merge)
df.head(2)

,nr_arkusza,date,masa_ciala_kg,puls,RR_skurczowe,RR_rozkurczowe,temperatura_st_C,CVP_srednie,skala_komfort_B,odd_wymuszane,odd_calkowite,saturacja_prc,prc_tlenu_na_respiratorze,kroplowka,zywienie_pozajelitowe
0,1,2023-11-13 14:00:00,6.0,125.0,65.0,40.0,33.5,23.0,6.0,25.0,25.0,100.0,50.0,12.0,0.0
1,1,2023-11-13 15:00:00,6.0,130.0,90.0,50.0,NaN,20.0,NaN,25.0,25.0,100.0,50.0,12.0,0.0

In [9]:
df.to_csv('../data/df_all.csv', index=False)