## Create initial dataset
The first thing I did once I had a data rewritten to multiple excel file sheets was creating a dataset consisting of all obtained parameters. To do this I loaded all excel sheets in the form of pandas dataframes and then joined them into one dataframe. Final dataframe was saved to "df_all.csv" file for later usage.

In [1]:
import pandas as pd
from functools import reduce

In [2]:
na_values = ['NA']
ventilator = pd.read_excel('../../data/raw/cards.xlsx', sheet_name='ventilator', na_values=na_values).drop('info', axis='columns')
vital_signs = pd.read_excel('../../data/raw/cards.xlsx', sheet_name='vital_signs', na_values=na_values)
saturation = pd.read_excel('../../data/raw/cards.xlsx', sheet_name='saturation', na_values=na_values)
fluid_intake = pd.read_excel('../../data/raw/cards.xlsx', sheet_name='fluid_intake', na_values=na_values)

In [3]:
pd.set_option('display.max_rows', 10)

In [4]:
ventilator.head(2)

   card_no                date  breaths_forced  breaths_all
0        1 2023-11-13 14:00:00              25         25.0
1        1 2023-11-13 15:00:00              25         25.0

In [5]:
vital_signs.head(2)

,card_no,date,body_weight_kg,pulse,RR_systolic,RR_diastolic,temperature_deg_C,CVP_average,COMFORT_B_score
0,1,2023-11-13 14:00:00,6,125.0,65.0,40.0,33.5,23.0,6.0
1,1,2023-11-13 15:00:00,6,130.0,90.0,50.0,NaN,20.0,NaN

In [6]:
saturation.drop(columns=['substance'], inplace=True)
saturation.head(2)

   card_no                date  saturation_pct  oxygen_pct_on_ventilator
0        1 2023-11-13 14:00:00           100.0                        50
1        1 2023-11-13 15:00:00           100.0                        50

In [7]:
fluid_intake.drop(columns=['unit'], inplace=True)
fluid_intake.head(2)

   card_no                date  drip_feed  parenteral_nutrition
0        1 2023-11-13 14:00:00         12                     0
1        1 2023-11-13 15:00:00         12                     0

In [8]:
dfs_to_merge = [vital_signs, ventilator, saturation, fluid_intake]
df = reduce(lambda left, right: pd.merge(left, right, how='outer', on=['card_no', 'date']), dfs_to_merge)
df.head(2)

,card_no,date,body_weight_kg,pulse,RR_systolic,RR_diastolic,temperature_deg_C,CVP_average,COMFORT_B_score,breaths_forced,breaths_all,saturation_pct,oxygen_pct_on_ventilator,drip_feed,parenteral_nutrition
0,1,2023-11-13 14:00:00,6.0,125.0,65.0,40.0,33.5,23.0,6.0,25.0,25.0,100.0,50.0,12.0,0.0
1,1,2023-11-13 15:00:00,6.0,130.0,90.0,50.0,NaN,20.0,NaN,25.0,25.0,100.0,50.0,12.0,0.0

In [9]:
df.to_csv('../../data/df_all.csv', index=False)