In [1]:
import pandas as pd

In [2]:
df_all = pd.read_csv('../data/df_all.csv')

In [3]:
# selected parameters
selected_parameters = ['puls', 'RR_skurczowe', 'RR_rozkurczowe', 'saturacja_prc', 'CVP_srednie', 'odd_wymuszane',	'odd_calkowite']
df = df_all.loc[:, ['date', *selected_parameters]]
df.head()

,date,puls,RR_skurczowe,RR_rozkurczowe,saturacja_prc,CVP_srednie,odd_wymuszane,odd_calkowite
0,2023-11-13 14:00:00,125.0,65.0,40.0,100.0,23.0,25.0,25.0
1,2023-11-13 15:00:00,130.0,90.0,50.0,100.0,20.0,25.0,25.0
2,2023-11-13 16:00:00,145.0,60.0,35.0,98.0,17.0,25.0,25.0
3,2023-11-13 17:00:00,140.0,55.0,45.0,97.0,18.0,25.0,25.0
4,2023-11-13 18:00:00,140.0,70.0,45.0,97.0,18.0,25.0,25.0

In [4]:
df.to_csv('../data/df.csv', index=False)